/* ---------->>> RESET <<<-----------*/

body, p, h1, h2, ul, li {
    padding: 0;
    margin: 0;
}

body {
    font-family: Georgia, serif;
    color: #252525; 
}

li {
    list-style: none;
}

* {
    box-sizing: border-box;
}

/* ---------->>> HEADER/MENU <<<-----------*/

.header-info {
    font-size: 0.875em;
    text-align: center;
    padding: 10px 0;
    background: #D6D3C8;
}

.header-logo img {
    display: block;
    margin: 40px auto;
}

.header-menu {
    border-top: 3px solid #D6D3C8;
    border-bottom: 3px solid #D6D3C8;
    text-align: center;
    margin-bottom: 40px;
    padding: 20px 0;
}

.header-menu li {
    display: inline-block;
}

.header-menu li a {
    display: block;
    padding: 5px 10px 5px 0;
    text-decoration: none;
    color: #252525;
    font-size: 1.125em;
}

.header-menu li a::before {
    content: '•';
    padding-right: 10px;
}

.header-menu li:first-child a::before {
    content: ' '; 
}

